.profile-pic {
    background-size: cover;
    border: 1px solid #dedede;
    border-radius: 6px;
    padding-top: 80%;
}

.btn-outline-success {
    color: #6c757d;
}

.ff-slabo {
    font-family: 'Slabo 27px', serif;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}